
<div class="about-page">
      <app-page-header 
        title="عن كلية الالسن" 
        [breadcrumbs]="breadcrumbs">
      </app-page-header>
      
      <app-dean-full-message></app-dean-full-message>
      
<app-vice-dean-message ></app-vice-dean-message>
      
      <app-faculty-history></app-faculty-history>
      
      <app-vision-mission-simple></app-vision-mission-simple>
      <app-faculty-goals></app-faculty-goals>

      
      <app-faculty-cta></app-faculty-cta>
    </div>
    <app-footer></app-footer>