<section class="dean-full-message-section" *ngIf="deanInfo">
  <div class="card-modern">
    <div class="row g-0">
      <div class="col-lg-3 col-md-4">
        <div class="dean-photo-section">
          <div class="dean-photo-container">
            <img 
              [src]="deanInfo.photo" 
              [alt]="deanInfo.name" 
              class="dean-photo"
            >
          </div>
          <div class="dean-title-card">
            <h3 class="dean-name">{{deanInfo.name}}</h3>
            <p class="dean-position">{{deanInfo.position}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8">
        <div class="dean-message-content">
          <div class="message-header">
            <i class="pi pi-quote-left quote-icon"></i>
            <h2 class="message-title">رساله العميد </h2>
          </div>
          
          <div class="message-body">
            <p class="greeting">
              {{deanInfo.greeting}}
              <span>
                <strong class="welcome"> مرحبا بكم جميعا </strong> 
              </span>
            </p>
            
            <div class="message-paragraphs">
              <p *ngFor="let paragraph of deanInfo.message">
                {{paragraph}}
              </p>
            </div>
            
            <p class="highlight">
              {{deanInfo.highlight}}
            </p>
            
            <p class="call-to-action">
              {{deanInfo.callToAction}}
            </p>
            
            <div class="closing">
              <p *ngFor="let closingLine of deanInfo.closing">
                <em>{{closingLine}}</em>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="loading" class="loading-container">
  <div class="loading-spinner">
    <i class="pi pi-spin pi-spinner"></i>
    <p>يتم تحميل رساله العميد </p>
  </div>
</div>