<header class="top-header">
  <div class="header-diagonal"></div>
  <div class="container">
    <div class="header-content">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-7">
          <div class="logo-section">
            <div class="faculty-logo">
              <img [src]="facultyInfo?.logoUrl || ''" width="100%" [alt]="facultyInfo?.name || 'شعار الكلية'">
            </div>
            <div>
              <h1 class="main-title">{{ facultyInfo?.name || 'كلية الألسن' }}</h1>
              <p class="subtitle">{{ facultyInfo?.subtitle || '' }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <div class="university-info">
            <span class="university-text">{{ facultyInfo?.universityName || 'جامعة الأقصر' }}</span>
            <div class="university-badge">
              <span> {{ facultyInfo?.established || '2016' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="submenu "  *ngIf="submenu">
  <div class="submenu-bottom">
    <div class="container-fluid mb-12">
      <div class="row align-items-center">
        <div class="col-md-6">
          <p class="copyright">
            {{ submenu.copyright }}
          </p>
        </div>
        <div class="col-md-6">
          <div class="contact-methods">
            <a [href]="'tel:' + submenu.contactMethods.phone" class="contact-method">
              <i class="pi pi-phone"></i>
              {{ submenu.contactMethods.phone }}
            </a>
            <a [href]="'mailto:' + submenu.contactMethods.email" class="contact-method">
              <i class="pi pi-envelope"></i>
              تواصل
            </a>
            <select class="language-switcher">
              <option *ngFor="let lang of submenu.contactMethods.languages" [value]="lang.value">{{ lang.label }}</option>
            </select>
            <a [href]="submenu.contactMethods.universityWebsite" class="contact-method university-website-btn">
              زيارة موقع الجامعة
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- التنقل -->
<nav class="main-nav">
  <div class="container">
    <div class="navbar navbar-expand-lg">
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav"
        [attr.aria-expanded]="isNavbarCollapsed"
        (click)="toggleNavbar()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.show]="!isNavbarCollapsed" id="navbarNav">
        <ul class="navbar-nav w-100 justify-content-start">
          <li class="nav-item" *ngFor="let item of navbarItems" [class.dropdown]="item.children && item.children.length > 0" [class.show]="isDropdownOpen[item.label]">
            <ng-container *ngIf="!item.children || item.children.length === 0">
              <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
                <i *ngIf="item.icon" [class]="item.icon + ' me-2'"></i>
                {{ item.label }}
              </a>
            </ng-container>
            <ng-container *ngIf="item.children && item.children.length > 0">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 role="button"
                 (click)="toggleDropdown(item.label, $event)"
                 [attr.aria-expanded]="isDropdownOpen[item.label]">
                <i *ngIf="item.icon" [class]="item.icon + ' me-2'"></i>
                {{ item.label }}
              </a>
              <ul class="dropdown-menu" [class.show]="isDropdownOpen[item.label]">
                <li *ngFor="let child of item.children">
                  <a class="dropdown-item" [routerLink]="child.route" (click)="onDropdownSelect(item.label)">
                    <i *ngIf="child.icon" [class]="child.icon + ' me-2'"></i>
                    {{ child.label }}
                  </a>
                </li>
              </ul>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>