

 <section class="dean-section"></section>
    <div class="dean-floating-card">
    <div class="dean-photo-container">
      <img 
        src="assets/Picture1.jpg" 
        alt="Prof. Mahmoud El-Nouby Ahmed Suleiman" 
        class="dean-photo"
      >
    </div>
    <div class="dean-info">
      <h2 class="dean-title">كلمة العميد</h2>
      <h3 class="dean-name">الأستاذ الدكتور محمود النوبى أحمد سليمان</h3>
      <h4 class="dean-position">
        عميد كلية الألسن - جامعة الأقصر
      </h4>
      <p class="dean-message">
        "تعد كلية الألسن بجامعة الأقصر مركزًا أكاديميًا رائدًا في مجالات اللغات والترجمة. 
        وتعمل كجسر بين الثقافات، ملتزمة بالتميز في التعليم الذي يدعم سوق العمل، ويعزز البحث، 
        ويخدم المجتمع."
      </p>
      
    </div>
  </div>
  