 <section class="contact-section">
      <div class="container-fluid col-10">
        <div class="row">
          <div class="col-12">
            <h2 class="section-title">تواصل معنا & الموقع </h2>
            <p class="section-subtitle">
              تواصل معنا أو قم بزيارة حرمنا الجامعي في قلب الأقصر
            </p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">
            <div class="card-modern contact-info-card">
              <div class="section-header">
                <i class="pi pi-phone"></i>
                معلومات الاتصال
              </div>
              
              <div class="contact-details">
                <div class="contact-item">
                  <i class="pi pi-map-marker"></i>
                  <div>
                    <h4>العنوان</h4>
                    <p class="english-address">الأقصر- شرق السكة الحديد، ش جامع عبد الكريم - بجوار الإدارة التعليمية</p>
                  </div>
                </div>
                
                <div class="contact-item">
                  <i class="pi pi-phone"></i>
                  <div>
                    <h4>الهاتف</h4>
                    <p><a href="tel:+20952356555">(+20) 095-2356555</a></p>
                  </div>
                </div>
                
                <div class="contact-item">
                  <i class="pi pi-globe"></i>
                  <div>
                    <h4>الموقع الرسمي</h4>
                    <p><a href="https://luxor.edu.eg/alsun" target="_blank">luxor.edu.eg/alsun</a></p>
                  </div>
                </div>
                
                <div class="contact-item">
                  <i class="pi pi-facebook"></i>
                  <div>
                    <h4>وسائل التواصل الاجتماعي</h4>
                    <p><a href="#" target="_blank">كلية الألسن – جامعة الأقصر</a></p>
                  </div>
                </div>
              </div>
              
              <div class="contact-actions">
                <a href="/contact" class="btn-primary-custom">
                  تواصل معنا الآن <i class="pi pi-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
          
          <div class="col-lg-6">
            <div class="card-modern map-container">
              <div class="section-header">
                <i class="pi pi-map"></i>
                موقع الكلية
              </div>
              
              <div class="map-placeholder">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.2130368798676!2d32.655939!3d25.6973696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x144915b6cd5958e3%3A0xd8298ac929cd3238!2z2YPZhNmK2Kkg2KfZhNij2YTYs9mGINis2KfZhdi52Kkg2KfZhNij2YLYtdix!5e0!3m2!1sar!2seg!4v1755716417964!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 