<section class="vision-mission-simple-section py-2" *ngIf="!loading">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">الرؤية والرسالة</h2>
        <p class="section-subtitle">
          التزامنا بالتميز في تعليم اللغات وتعزيز التفاهم الثقافي
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6" *ngIf="getVision()">
        <div class="vision-card">
          <div class="card-header">
            <i class="{{ getVision()?.icon }} header-icon"></i>
            <h3>{{ getVision()?.title }}</h3>
          </div>
          <div class="card-content">
            <p *ngFor="let paragraph of getVision()?.content">
              {{ paragraph }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6" *ngIf="getMission()">
        <div class="mission-card">
          <div class="card-header">
            <i class="{{ getMission()?.icon }} header-icon"></i>
            <h3>{{ getMission()?.title }}</h3>
          </div>
          <div class="card-content">
            <p *ngFor="let paragraph of getMission()?.content">
              {{ paragraph }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="vision-mission-simple-section py-2" *ngIf="loading">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>يتم تحميل الرؤية والرسالة </p>
      </div>
    </div>
  </div>
</section>



















