    <footer class="footer" *ngIf="footerData">
      <!-- Footer Links Section -->
      <div class="footer-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="footer-section">
                <div class="footer-logo-section">
                  <div class="footer-logo">
<img [src]="logoUrl" width="200%" [alt]="footerData.title || 'Faculty Logo'" *ngIf="logoUrl">
                  </div>
                  <div>
                    <h3>{{ footerData.title }}</h3>
                    <p>{{ footerData.subtitle }}</p>
                    <p class="footer-tagline">{{ footerData.tagline }}</p>
                  </div>
                </div>

                <div class="social-media">
                  <h4>قم بمتابعة أحدث أخبارنا</h4>
                  <div class="social-links">
<a *ngFor="let link of footerData.socialLinks" [href]="link.url" [attr.aria-label]="link.platform">
  <i [class]="link.icon"></i>
</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6">
              <div class="footer-section">
                <h4>{{ footerData.quickLinks.title }}</h4>
                <ul class="footer-links">
                  <li *ngFor="let link of footerData.quickLinks.links">
                    <a [href]="link.url">{{ link.title }}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="footer-section">
                <h4>{{ footerData.academicLinks.title }}</h4>
                <ul class="footer-links">
                  <li *ngFor="let link of footerData.academicLinks.links">
                    <a [href]="link.url">{{ link.title }}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="footer-section">
                <h4>{{ footerData.resourceLinks.title }}</h4>
                <ul class="footer-links">
                  <li *ngFor="let link of footerData.resourceLinks.links">
                    <a [href]="link.url">{{ link.title }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Copyright Section -->
      <div class="footer-bottom">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <p class="copyright">
                {{ footerData.copyright }}
              </p>
            </div>
            <div class="col-md-6">
              <div class="contact-methods">
                <a [href]="'tel:' + footerData.contactMethods.phone" class="contact-method">
                  <i class="pi pi-phone"></i>
                  {{ footerData.contactMethods.phone }}
                </a>
                <a [href]="'mailto:' + footerData.contactMethods.email" class="contact-method">
                  <i class="pi pi-envelope"></i>
تواصل معنا
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  